html, body{height: 100%; background-color: #171717;}
*, *:before, *:after {box-sizing: border-box;}
body{font-size: 100%; font-family: 'Roboto', sans-serif; line-height: 1.5; margin: 0; color: #555;}
#container{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; height: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; align-content: center; -ms-flex-line-pack: center; align-content: center;}
.wrap-title{margin-right: 3em; text-align: center;}
h1{font-weight: 100; font-size: 4em; margin: 0 0 0.3em 0;}
h1 span{font-weight: 400; color: #ddd;}
img{height: auto; float: left; margin: 0px; position: relative;}
.wrapper{overflow: hidden;}
.wrapper .wrap-img{position: relative;}
.wrapper .wrap-img:after{content: ''; clear: both; display: block;}
.arrows{width: 30px; cursor:pointer;}
#arrow-next{margin-left: 3em;}
#arrow-prev{margin-right: 3em;}
.arrows img{width: 100%; height: auto;}
form{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 2em; text-align: center; width: 27em;}
form input{-ms-flex-preferred-size: 60%;flex-basis: 60%; padding: 2em; width: 15em; border: 1px solid #444; height: 5em; background-color: transparent; margin-right:1em; text-transform: uppercase; color: #ddd;}
form input[type="button"]{-ms-flex-preferred-size: 30%;flex-basis: 30%; width: 10em; padding:2em 3em; background-color: #ce4066; color: #ddd; border: 1px solid #ce4066;}
form p{-ms-flex-preferred-size: 100%;flex-basis: 100%;}